<h1>~ Cocktails list ~</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
      <li>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to "[Delete cocktail]", cocktail_path(cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </li>
  <% end %>
</ul>

<br>
<%= link_to "[Add a new cocktail]", new_cocktail_path %>
